body {
  margin: 0;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.board-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square-black,
.square-white {
  flex: 1;
}

.square-white {
  background-color: #ffce9e;
}

.square-black {
  background-color: #d18b47;
}

.start-button {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #83caff;
  border: 1px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}
